In [1]:
from dataprep import DatasetBuilder
from datetime import timedelta

PREDICTION_TIMEDELTA = timedelta(hours=1)
QUANT_TIMEDELTA = timedelta(minutes=10)
BUY_TIMEDELTA = timedelta(seconds=0)
CHANGE_MAGNITUDE = 1.2

builder = DatasetBuilder(10000, BUY_TIMEDELTA, (QUANT_TIMEDELTA, PREDICTION_TIMEDELTA), CHANGE_MAGNITUDE)
dataset = builder.build_dataset()

2024-01-07 22:43:07,361 - INFO - Getting data from db
2024-01-07 22:43:18,911 - INFO - Got 10000 records from db
2024-01-07 22:43:18,912 - INFO - From 2024-01-07 11:35:30 to 2024-01-07 22:39:59
2024-01-07 22:43:18,915 - INFO - Filtered df by program_id, got 9670 records
2024-01-07 22:43:18,921 - INFO - Using memory: 4.930463790893555 MB
2024-01-07 22:43:23,276 - INFO - Got price tables for 676 mints
2024-01-07 22:43:24,091 - INFO - Assigned labels to 4568 records
2024-01-07 22:43:24,092 - INFO - label
flat    3608
na       509
down     256
up       195
Name: count, dtype: int64
2024-01-07 22:43:24,093 - INFO - Assigning features
2024-01-07 22:44:00,360 - INFO - Features assigned

In [ ]:
#PREDICTION_TIMEDELTA = timedelta(hours=1)
CHANGE_MAGNITUDE = 3.5

dataset = builder.reassign_values(BUY_TIMEDELTA, (QUANT_TIMEDELTA, PREDICTION_TIMEDELTA), CHANGE_MAGNITUDE)

In [2]:
dataset[(dataset['label'] == 'up') & (dataset['mint'] == 'H5n9BQfULHEEtvLVf2WErUHsXHhRaUkYqVhNzxUkWJGf')]

,time_quant,mint,price,buy_price,sell_price,label,day_of_week,hour,found_points_now,u_price_sma_now,...,vol_ema_sum_10m,trcnt_sma_sum_1h,vol_sma_sum_1h,vol_ema_sum_1h,trcnt_sma_sum_4h,vol_sma_sum_4h,vol_ema_sum_4h,trcnt_sma_sum_1d,vol_sma_sum_1d,vol_ema_sum_1d
2441,2024-01-07 17:50:00,H5n9BQfULHEEtvLVf2WErUHsXHhRaUkYqVhNzxUkWJGf,0.000003,0.000003,0.000004,up,6,17,1.0,1.0,...,0.213134,1.166667,1.68492,1.150132,5.0,8.748421,8.748421,0.0,0.0,0.0

In [3]:
dataset[dataset['label'] == 'up']['mint'].nunique()

70

In [4]:
dataset.describe()

,time_quant,price,buy_price,sell_price,day_of_week,hour,found_points_now,u_price_sma_now,u_price_ema_now,u_price_rsi_now,...,vol_ema_sum_10m,trcnt_sma_sum_1h,vol_sma_sum_1h,vol_ema_sum_1h,trcnt_sma_sum_4h,vol_sma_sum_4h,vol_ema_sum_4h,trcnt_sma_sum_1d,vol_sma_sum_1d,vol_ema_sum_1d
count,4568,4.568000e+03,4.568000e+03,4.568000e+03,4568.0,4568.000000,4568.0,4568.0,4568.0,4568.0,...,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.0,4568.0,4568.0
mean,2024-01-07 17:20:19.964973568,1.699936e+00,1.699936e+00,1.392176e+00,6.0,16.926445,1.0,1.0,1.0,-1.0,...,6.060650,6.165669,29.490196,27.956637,18.269046,86.058111,83.040084,0.0,0.0,0.0
min,2024-01-07 11:40:00,8.906252e-18,8.906252e-18,0.000000e+00,6.0,11.000000,1.0,1.0,1.0,-1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
25%,2024-01-07 14:40:00,4.101458e-07,4.101458e-07,8.443855e-08,6.0,14.000000,1.0,1.0,1.0,-1.0,...,0.142869,0.625000,0.387605,0.295307,0.000000,0.000000,0.000000,0.0,0.0,0.0
50%,2024-01-07 17:30:00,5.622129e-06,5.622129e-06,3.748833e-06,6.0,17.000000,1.0,1.0,1.0,-1.0,...,0.666897,2.000000,2.699690,2.452915,3.000000,2.903769,2.098692,0.0,0.0,0.0
75%,2024-01-07 20:10:00,1.396249e-04,1.396249e-04,6.931794e-05,6.0,20.000000,1.0,1.0,1.0,-1.0,...,2.778541,6.000000,12.950996,11.332653,14.000000,30.541918,26.682338,0.0,0.0,0.0
max,2024-01-07 22:20:00,5.462988e+02,5.462988e+02,4.799114e+02,6.0,22.000000,1.0,1.0,1.0,-1.0,...,837.658369,104.800000,1434.769026,1579.702163,432.500000,6108.394418,3966.384727,0.0,0.0,0.0
std,NaN,2.585028e+01,2.585028e+01,2.274762e+01,0.0,3.137576,0.0,0.0,0.0,0.0,...,27.340970,13.943857,115.783924,109.774703,49.234270,415.208864,383.957031,0.0,0.0,0.0

In [5]:
dataset.describe()

,time_quant,price,buy_price,sell_price,day_of_week,hour,found_points_now,u_price_sma_now,u_price_ema_now,u_price_rsi_now,...,vol_ema_sum_10m,trcnt_sma_sum_1h,vol_sma_sum_1h,vol_ema_sum_1h,trcnt_sma_sum_4h,vol_sma_sum_4h,vol_ema_sum_4h,trcnt_sma_sum_1d,vol_sma_sum_1d,vol_ema_sum_1d
count,4568,4.568000e+03,4.568000e+03,4.568000e+03,4568.0,4568.000000,4568.0,4568.0,4568.0,4568.0,...,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.0,4568.0,4568.0
mean,2024-01-07 17:20:19.964973568,1.699936e+00,1.699936e+00,1.392176e+00,6.0,16.926445,1.0,1.0,1.0,-1.0,...,6.060650,6.165669,29.490196,27.956637,18.269046,86.058111,83.040084,0.0,0.0,0.0
min,2024-01-07 11:40:00,8.906252e-18,8.906252e-18,0.000000e+00,6.0,11.000000,1.0,1.0,1.0,-1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
25%,2024-01-07 14:40:00,4.101458e-07,4.101458e-07,8.443855e-08,6.0,14.000000,1.0,1.0,1.0,-1.0,...,0.142869,0.625000,0.387605,0.295307,0.000000,0.000000,0.000000,0.0,0.0,0.0
50%,2024-01-07 17:30:00,5.622129e-06,5.622129e-06,3.748833e-06,6.0,17.000000,1.0,1.0,1.0,-1.0,...,0.666897,2.000000,2.699690,2.452915,3.000000,2.903769,2.098692,0.0,0.0,0.0
75%,2024-01-07 20:10:00,1.396249e-04,1.396249e-04,6.931794e-05,6.0,20.000000,1.0,1.0,1.0,-1.0,...,2.778541,6.000000,12.950996,11.332653,14.000000,30.541918,26.682338,0.0,0.0,0.0
max,2024-01-07 22:20:00,5.462988e+02,5.462988e+02,4.799114e+02,6.0,22.000000,1.0,1.0,1.0,-1.0,...,837.658369,104.800000,1434.769026,1579.702163,432.500000,6108.394418,3966.384727,0.0,0.0,0.0
std,NaN,2.585028e+01,2.585028e+01,2.274762e+01,0.0,3.137576,0.0,0.0,0.0,0.0,...,27.340970,13.943857,115.783924,109.774703,49.234270,415.208864,383.957031,0.0,0.0,0.0

In [6]:
from sklearn.model_selection import TimeSeriesSplit

print("dataset len: %d" % len(dataset))
train_test_dataset = dataset[dataset['label'] != 'na']
print("train_test_dataset len: %d" % len(train_test_dataset))
# train_test_dataset = train_test_dataset[train_test_dataset['sma_vol_sum_1h'] > 1]
print("train_test_dataset len: %d" % len(train_test_dataset))
unique_mints = train_test_dataset['mint'].unique()
print("unique_mints len: %d" % len(unique_mints))

dataset len: 4568
train_test_dataset len: 4059
train_test_dataset len: 4059
unique_mints len: 635

In [7]:
# how many mints have up label
print(train_test_dataset[train_test_dataset['label'] == 'up']['mint'].nunique())
print(len(train_test_dataset[train_test_dataset['label'] == 'up']))

70
195

In [8]:
train_test_dataset[train_test_dataset['label'] == 'up']['sma_vol_sum_1d']

KeyError: 'sma_vol_sum_1d'

In [ ]:
train_test_dataset[train_test_dataset['label'] == 'up']['sma_vol_sum_1d'].describe()

In [ ]:
train_test_dataset

In [9]:
column_names = list(train_test_dataset.columns)
# feature names start after 'label'
label_index = column_names.index('label')
feature_names = column_names[label_index+1:]
print(f"feature_names: {feature_names}")

feature_names: ['day_of_week', 'hour', 'found_points_now', 'u_price_sma_now', 'u_price_ema_now', 'u_price_rsi_now', 'found_points_now_trunc', 'u_price_sma_now_trunc', 'u_price_ema_now_trunc', 'u_price_rsi_now_trunc', 'found_points_10m', 'u_price_sma_10m', 'u_price_ema_10m', 'u_price_rsi_10m', 'found_points_10m_trunc', 'u_price_sma_10m_trunc', 'u_price_ema_10m_trunc', 'u_price_rsi_10m_trunc', 'found_points_1h', 'u_price_sma_1h', 'u_price_ema_1h', 'u_price_rsi_1h', 'found_points_1h_trunc', 'u_price_sma_1h_trunc', 'u_price_ema_1h_trunc', 'u_price_rsi_1h_trunc', 'found_points_4h', 'u_price_sma_4h', 'u_price_ema_4h', 'u_price_rsi_4h', 'found_points_4h_trunc', 'u_price_sma_4h_trunc', 'u_price_ema_4h_trunc', 'u_price_rsi_4h_trunc', 'found_points_1d', 'u_price_sma_1d', 'u_price_ema_1d', 'u_price_rsi_1d', 'found_points_1d_trunc', 'u_price_sma_1d_trunc', 'u_price_ema_1d_trunc', 'u_price_rsi_1d_trunc', 'trcnt_sma_buy_now', 'vol_sma_buy_now', 'vol_ema_buy_now', 'trcnt_sma_buy_10m', 'vol_sma_buy_10m', 'vol_ema_buy_10m', 'trcnt_sma_buy_1h', 'vol_sma_buy_1h', 'vol_ema_buy_1h', 'trcnt_sma_buy_4h', 'vol_sma_buy_4h', 'vol_ema_buy_4h', 'trcnt_sma_buy_1d', 'vol_sma_buy_1d', 'vol_ema_buy_1d', 'trcnt_sma_sell_now', 'vol_sma_sell_now', 'vol_ema_sell_now', 'trcnt_sma_sell_10m', 'vol_sma_sell_10m', 'vol_ema_sell_10m', 'trcnt_sma_sell_1h', 'vol_sma_sell_1h', 'vol_ema_sell_1h', 'trcnt_sma_sell_4h', 'vol_sma_sell_4h', 'vol_ema_sell_4h', 'trcnt_sma_sell_1d', 'vol_sma_sell_1d', 'vol_ema_sell_1d', 'trcnt_sma_sum_now', 'vol_sma_sum_now', 'vol_ema_sum_now', 'trcnt_sma_sum_10m', 'vol_sma_sum_10m', 'vol_ema_sum_10m', 'trcnt_sma_sum_1h', 'vol_sma_sum_1h', 'vol_ema_sum_1h', 'trcnt_sma_sum_4h', 'vol_sma_sum_4h', 'vol_ema_sum_4h', 'trcnt_sma_sum_1d', 'vol_sma_sum_1d', 'vol_ema_sum_1d']

In [10]:
import pandas as pd
from catboost import CatBoostClassifier, Pool
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

# Convert 'mint' to a categorical feature
# train_test_dataset['mint'] = train_test_dataset['mint'].astype('category')

# Define features and target
# feature_names = ['mint', 'hour', 'trades', 'token_volume', 'sol_volume', 'price'] + list(features.columns[2:])
# cat_feature_names = ['mint']
# feature_names = ['trades', 'token_volume', 'sol_volume', 'price'] + list(features.columns[2:])
cat_feature_names = []
target = 'label'

# Initialize CatBoost Classifier
model = CatBoostClassifier(loss_function='MultiClass', verbose=False)

# TimeSeriesSplit for cross-validation
nsplits = 3

# To store predictions and actuals
actuals = []
raw_predictions = []
up_probabilities = []
down_probabilities = []
details_df = pd.DataFrame() 
train_len = 0
up_train_len = 0

def split_tscv(ordered_df, nsplits):
    min_quant = ordered_df['time_quant'].min()
    max_quant = ordered_df['time_quant'].max()
    range_quant = (max_quant - min_quant) / (nsplits + 1) / 2
    for i in range(nsplits):
        train_start = min_quant 
        train_end = min_quant + (i + 1) * range_quant + (max_quant - min_quant) / 2
        test_start = train_end + PREDICTION_TIMEDELTA
        test_end = test_start + range_quant
        print(f'train [{train_start}; {train_end})\ntest [{test_start}; {test_end})')
        train_df = ordered_df[(ordered_df['time_quant'] >= train_start) & (ordered_df['time_quant'] < train_end)]
        test_df = ordered_df[(ordered_df['time_quant'] >= test_start) & (ordered_df['time_quant'] < test_end)]
        yield train_df, test_df
    
    
split_tscv(train_test_dataset, nsplits)

for train_data, test_data in split_tscv(train_test_dataset, nsplits):
    print(f'train_data ({len(train_data)}) [{min(train_data["time_quant"])}; {max(train_data["time_quant"])}]')
    if len(test_data) == 0:
        print(f'No data left for test data')
        break
    print(f'test_data ({len(test_data)}) [{min(test_data["time_quant"])} to {max(test_data["time_quant"])}]')

    train_len += len(train_data)
    up_train_len += len(train_data[train_data[target] == 'up'])

    # Create Pool
    train_pool = Pool(data=train_data[feature_names], label=train_data[target], cat_features=cat_feature_names)
    test_pool = Pool(data=test_data[feature_names], label=test_data[target], cat_features=cat_feature_names)

    # Train model
    model.fit(train_pool)

    # Predict
    classes = model.classes_
    probs = model.predict_proba(test_pool)
    classes_to_index = {c: i for i, c in enumerate(classes)}
    
    for probs_row in probs:
        raw_predictions.append(classes[probs_row.argmax()])
        up_probabilities.append(probs_row[classes_to_index['up']])
        down_probabilities.append(probs_row[classes_to_index['down']])

    actuals.extend(test_data[target].values)
    if len(details_df) == 0:
        details_df = test_data
    else:
        details_df = pd.concat([details_df, test_data])

train [2024-01-07 11:40:00; 2024-01-07 17:42:30)
test [2024-01-07 18:42:30; 2024-01-07 19:55:00)
train_data (2387) [2024-01-07 11:40:00; 2024-01-07 17:40:00]
test_data (508) [2024-01-07 18:50:00 to 2024-01-07 19:50:00]
train [2024-01-07 11:40:00; 2024-01-07 18:55:00)
test [2024-01-07 19:55:00; 2024-01-07 21:07:30)
train_data (2931) [2024-01-07 11:40:00; 2024-01-07 18:50:00]
test_data (531) [2024-01-07 20:00:00 to 2024-01-07 21:00:00]
train [2024-01-07 11:40:00; 2024-01-07 20:07:30)
test [2024-01-07 21:07:30; 2024-01-07 22:20:00)
train_data (3425) [2024-01-07 11:40:00; 2024-01-07 20:00:00]
test_data (168) [2024-01-07 21:10:00 to 2024-01-07 21:20:00]

In [11]:
import numpy as np

desired_up_amount = int(up_train_len * 1. / train_len * len(actuals) * 0.9)
print(f"desired_up_amount: {desired_up_amount} of {actuals.count('up')}")

delta_probabilities = list(np.array(up_probabilities) - np.array(down_probabilities) / CHANGE_MAGNITUDE)

up_threshold = sorted(delta_probabilities, reverse=True)[desired_up_amount]
print(f"up_threshold: {up_threshold}")

predictions = []
for raw_pred, up_prob in zip(raw_predictions, delta_probabilities):
    if up_prob < up_threshold:
        predictions.append(raw_pred if raw_pred != 'up' else 'flat')
    else:
        predictions.append('up')

# Confusion Matrix
conf_matrix = confusion_matrix(actuals, predictions, labels=['up', 'flat', 'down'])
conf_matrix_df = pd.DataFrame(conf_matrix, index=['up', 'flat', 'down'], columns=['up', 'flat', 'down'])

# Last iteration's predictions and actuals
comparison_df = pd.DataFrame({'Actual': actuals, 'Predicted': predictions, 'UpP': up_probabilities, 'DownP': down_probabilities})
# comparison_df = comparison_df.reset_index(drop=True)

# add details to results_df
results_df = pd.concat([comparison_df.reset_index(drop=True), details_df.reset_index(drop=True)], axis=1)
print(f"pred len {len(predictions)}, actuals len {len(actuals)}, "
      f"comparison_df len {len(comparison_df)}, details len {len(details_df)}, results_df len {len(results_df)}")

#join prices to results_df
# results_df = results_df.join(prices[['mint', 'hour', 'price'+prediction_type['suffix']]].set_index(['mint', 'hour']), on=['mint', 'hour'])
results_df['upside'] = results_df['sell_price'] / results_df['buy_price']
# if price is inf, set upside to 0
results_df['upside'] = results_df['upside'].replace([np.inf, -np.inf], 1)

purchased_upsides = results_df[(results_df['Predicted']=='up')]['upside']
all_upsides = results_df['upside']


# Output
print("Confusion Matrix:\n", conf_matrix_df)
print("ROI1: %.2f%% of 100%%\n"
      "ROI2: %.2f%% of 100%%\n"
      "Bench ROI2: %.2f%% of 100%%\n"
      "Used: %.2f%% (%d of %d trades)\n"
      %(
        (100 * (CHANGE_MAGNITUDE * 1. * conf_matrix_df.loc['up', 'up'].sum() + conf_matrix_df.loc['flat', 'up'].sum()) / conf_matrix_df.loc[:, 'up'].sum()),
        (100 * (CHANGE_MAGNITUDE * 1. * conf_matrix_df.loc['up', 'up'].sum()) / conf_matrix_df.loc[:, 'up'].sum()),
        (100 * (CHANGE_MAGNITUDE * 1. * conf_matrix_df.loc['up', :].sum()) / conf_matrix_df.loc[:, :].sum().sum()),
        (100 * (1. * conf_matrix_df.loc[:, 'up'].sum()) / conf_matrix_df.loc[:, :].sum().sum()),
        conf_matrix_df.loc[:, 'up'].sum(),
        conf_matrix_df.loc[:, :].sum().sum(),
      )
      )
print(f'purchased upsides: {purchased_upsides.mean()}, top 10 upsides {["%.0f" % u for u in list(purchased_upsides.sort_values(ascending=False).head(10))]}')
print(f'all upsides: {all_upsides.mean()}, top 10 upsides {["%.0f" % u for u in list(all_upsides.sort_values(ascending=False).head(10))]}')

desired_up_amount: 50 of 61
up_threshold: 0.09494304340143445
pred len 1207, actuals len 1207, comparison_df len 1207, details len 1207, results_df len 1207
Confusion Matrix:
       up  flat  down
up     8    41    12
flat  35  1018     4
down   8    67    14
ROI1: 87.45% of 100%
ROI2: 18.82% of 100%
Bench ROI2: 6.06% of 100%
Used: 4.23% (51 of 1207 trades)

purchased upsides: 1.0556830867969391, top 10 upsides ['3', '2', '2', '2', '1', '1', '1', '1', '1', '1']
all upsides: 1.010307781324537, top 10 upsides ['9', '3', '3', '3', '2', '2', '2', '2', '2', '2']

In [12]:
print("Confusion Matrix:\n", conf_matrix_df)
print("ROI1: %.2f%% of 100%%\n"
      "ROI2: %.2f%% of 100%%\n"
      "Bench ROI2: %.2f%% of 100%%\n"
      "Used: %.2f%% (%d of %d trades)\n"
      %(
        (100 * (CHANGE_MAGNITUDE * 1. * conf_matrix_df.loc['up', 'up'].sum() + conf_matrix_df.loc['flat', 'up'].sum()) / conf_matrix_df.loc[:, 'up'].sum()),
        (100 * (CHANGE_MAGNITUDE * 1. * conf_matrix_df.loc['up', 'up'].sum()) / conf_matrix_df.loc[:, 'up'].sum()),
        (100 * (CHANGE_MAGNITUDE * 1. * conf_matrix_df.loc['up', :].sum()) / conf_matrix_df.loc[:, :].sum().sum()),
        (100 * (1. * conf_matrix_df.loc[:, 'up'].sum()) / conf_matrix_df.loc[:, :].sum().sum()),
        conf_matrix_df.loc[:, 'up'].sum(),
        conf_matrix_df.loc[:, :].sum().sum(),
      )
      )
print(f'purchased upsides: {purchased_upsides.mean()}, top 10 upsides {["%.0f" % u for u in list(purchased_upsides.sort_values(ascending=False).head(10))]}')
print(f'all upsides: {all_upsides.mean()}, top 10 upsides {["%.0f" % u for u in list(all_upsides.sort_values(ascending=False).head(10))]}')

Confusion Matrix:
       up  flat  down
up     8    41    12
flat  35  1018     4
down   8    67    14
ROI1: 87.45% of 100%
ROI2: 18.82% of 100%
Bench ROI2: 6.06% of 100%
Used: 4.23% (51 of 1207 trades)

purchased upsides: 1.0556830867969391, top 10 upsides ['3', '2', '2', '2', '1', '1', '1', '1', '1', '1']
all upsides: 1.010307781324537, top 10 upsides ['9', '3', '3', '3', '2', '2', '2', '2', '2', '2']

In [13]:
# feature importance
model.get_feature_importance(prettified=True)

               Feature Id  Importances
0   u_price_ema_10m_trunc     4.837744
1          u_price_sma_1h     4.006440
2   u_price_sma_10m_trunc     3.596870
3         u_price_sma_10m     3.117951
4         vol_sma_sum_now     3.087807
..                    ...          ...
82        vol_sma_sell_1d     0.000000
83        vol_ema_sell_1d     0.000000
84       trcnt_sma_sum_1d     0.000000
85         vol_sma_sum_1d     0.000000
86         vol_ema_sum_1d     0.000000

[87 rows x 2 columns]

In [14]:
# what was guessed correctly
guessed = results_df[(results_df['Actual']=='up') & (results_df['Predicted']=='up')].sort_values(by=['time_quant', 'mint'], ascending=False)
guessed[['mint', 'time_quant', 'price', 'buy_price', 'sell_price', 'upside']]

,mint,time_quant,price,buy_price,sell_price,upside
1125,4QzSfBswj8KpVgwBpNo1aPRYteajf5nFpExxuXEZZf7n,2024-01-07 21:20:00,2.842648e-07,2.842648e-07,5.217911e-07,1.835581
1112,tx4Xec7ueAEYz4csDqfGGwQxkMTR3qmkr4mixdxN72K,2024-01-07 21:10:00,6.111818e-08,6.111818e-08,7.754217e-08,1.268725
1096,GpnYgsWrEVCPP6jwGgQzzsdhmkpR2qaBprdXJejWDndJ,2024-01-07 21:10:00,3.884356e-07,3.884356e-07,4.714588e-07,1.213737
1005,E2Vvh3dXgZGbUf76d3wBJgwfWSZ3GjjakidnHR7sjdfC,2024-01-07 21:00:00,1.642227e-12,1.642227e-12,2.160367e-12,1.315511
969,4QzSfBswj8KpVgwBpNo1aPRYteajf5nFpExxuXEZZf7n,2024-01-07 21:00:00,1.306179e-07,1.306179e-07,4.003519e-07,3.065061
855,E2Vvh3dXgZGbUf76d3wBJgwfWSZ3GjjakidnHR7sjdfC,2024-01-07 20:40:00,1.054911e-12,1.054911e-12,1.855225e-12,1.758655
727,krDcAcJEKFyCKHF38VhF4pGSiN7gs8QtD8GBv2e2EvF,2024-01-07 20:20:00,1.084484e-06,1.084484e-06,1.365717e-06,1.259325
57,FzcutcA9io6vcABawtaPJYAMLg4b9hadH59YLFeWdieU,2024-01-07 18:50:00,2.393740e-07,2.393740e-07,4.728845e-07,1.975505

In [151]:
guessed.mint.describe()

count                                                1
unique                                               1
top       14JnYcbAooDAZVb72DgmFGVZGDon5Ko4SN6ELrpU6ood
freq                                                 1
Name: mint, dtype: object

In [26]:
purchased = results_df[results_df['Predicted']=='up'].sort_values(by=['time_quant', 'mint'], ascending=False)
purchased[['mint', 'time_quant', 'price', 'buy_price', 'sell_price', 'upside']].sort_values(by=['time_quant'], ascending=False)

,mint,time_quant,price,buy_price,sell_price,upside
441,HoXqxVbmnVKvRM2DS58ivipKx8bzPN5Nv1e3ZnKzxVDR,2024-01-07 18:00:00,1.149847e-06,1.149847e-06,8.783024e-07,0.763843
416,HoXqxVbmnVKvRM2DS58ivipKx8bzPN5Nv1e3ZnKzxVDR,2024-01-07 17:50:00,1.367898e-06,1.367898e-06,9.869638e-07,0.721519
389,HoXqxVbmnVKvRM2DS58ivipKx8bzPN5Nv1e3ZnKzxVDR,2024-01-07 17:40:00,5.948328e-07,5.948328e-07,1.087740e-06,1.828648
365,HoXqxVbmnVKvRM2DS58ivipKx8bzPN5Nv1e3ZnKzxVDR,2024-01-07 17:30:00,7.157571e-07,7.157571e-07,1.059672e-06,1.480491
340,HoXqxVbmnVKvRM2DS58ivipKx8bzPN5Nv1e3ZnKzxVDR,2024-01-07 17:20:00,6.499731e-07,6.499731e-07,1.017298e-06,1.565139
315,HoXqxVbmnVKvRM2DS58ivipKx8bzPN5Nv1e3ZnKzxVDR,2024-01-07 17:10:00,6.067764e-07,6.067764e-07,9.380257e-07,1.545917
290,HoXqxVbmnVKvRM2DS58ivipKx8bzPN5Nv1e3ZnKzxVDR,2024-01-07 17:00:00,7.073857e-07,7.073857e-07,8.475140e-07,1.198093
259,HoXqxVbmnVKvRM2DS58ivipKx8bzPN5Nv1e3ZnKzxVDR,2024-01-07 16:50:00,1.016539e-06,1.016539e-06,7.737705e-07,0.761181

In [195]:
purchased.mint.describe()

count                                              150
unique                                              71
top       87QbDz6Ze5B8L3PoGvqLyJ3JAydi39jNtvzXDEz7zbcK
freq                                                14
Name: mint, dtype: object

In [154]:
results_df[results_df['Predicted']=='up'].sma_vol_sum_1d.describe()
# fix negative volume

count    7.000000
mean     0.875333
std      0.923304
min      0.015222
25%      0.070902
50%      0.619517
75%      1.590961
max      2.168864
Name: sma_vol_sum_1d, dtype: float64

In [155]:
results_df['Predicted'].value_counts()

Predicted
flat    12864
down      441
up          7
Name: count, dtype: int64

In [156]:
results_df['mint'].value_counts()

mint
EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v    300
Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB    297
DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263    280
9gwTegFJJErDpWJKjPfLr2g2zrE3nL1v5zpwbtsk3c6P    273
LFG1ezantSY2LPX8jRz2qa31pPEhpwN9msFDzZw4T9Q     271
                                               ...
5Gd5vzFS31oSb52Jegvncrhr5Bt4MGRHqz2NepyJZcHh      1
F2mGAvcNr47h4Qx1W8TcvTWhGhA58b2hsHH4uYSZrGYL      1
FjRUB1HafHsaGQxibEwKpQxXgVXbE4k3pw3XWqKLxAiX      1
HCKZPSGLvUyWTWwPtmcL41fdR8dNgDmzgx11mgCihVkG      1
7MAMEPQdexxy2z5sbohRqzcNAdRmrisnHnETq6yptjdo      1
Name: count, Length: 236, dtype: int64

In [116]:
# mint 99fp2z9TANArLJR4hcwx8fJSzjz7GQwUn7huGf32nDdv
results_df[results_df['mint']=='99fp2z9TANArLJR4hcwx8fJSzjz7GQwUn7huGf32nDdv']

,Actual,Predicted,time_quant,mint,price,future_price,label,day_of_week,hour,u_price_sma_10m,...,ema_vol_sell_1d,sma_vol_sum_10m,ema_vol_sum_10m,sma_vol_sum_1h,ema_vol_sum_1h,sma_vol_sum_4h,ema_vol_sum_4h,sma_vol_sum_1d,ema_vol_sum_1d,upside
165,flat,flat,2023-12-30 09:10:00,99fp2z9TANArLJR4hcwx8fJSzjz7GQwUn7huGf32nDdv,0.000095,0.000104,flat,5,9,0.930400,...,90.930654,0.115989,0.107761,3.788072,5.061999,28.803518,31.480449,154.270505,152.896013,1.095196
445,flat,flat,2023-12-30 10:30:00,99fp2z9TANArLJR4hcwx8fJSzjz7GQwUn7huGf32nDdv,0.000098,0.000132,flat,5,10,0.939484,...,94.127106,0.095148,0.133825,2.479048,2.220667,24.955202,22.916505,149.483234,151.282205,1.352834
598,flat,flat,2023-12-30 11:10:00,99fp2z9TANArLJR4hcwx8fJSzjz7GQwUn7huGf32nDdv,0.000120,0.000133,flat,5,11,0.809310,...,93.952888,0.102302,0.088852,2.424012,2.155592,29.098655,31.816594,149.376050,151.022980,1.109808
1098,flat,flat,2023-12-30 13:20:00,99fp2z9TANArLJR4hcwx8fJSzjz7GQwUn7huGf32nDdv,0.000125,0.000125,flat,5,13,0.960984,...,87.483720,0.012154,0.024919,1.882639,1.614058,26.609313,26.908793,142.030561,145.353317,0.996687
1358,flat,flat,2023-12-30 14:30:00,99fp2z9TANArLJR4hcwx8fJSzjz7GQwUn7huGf32nDdv,0.000097,0.000141,flat,5,14,1.243228,...,96.866656,0.030008,0.050110,1.659913,1.125329,23.209849,19.930340,141.104119,154.474622,1.446352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26648,flat,flat,2024-01-03 21:00:00,99fp2z9TANArLJR4hcwx8fJSzjz7GQwUn7huGf32nDdv,0.000043,0.000042,flat,2,21,1.111615,...,67.862975,0.153787,0.225146,1.251825,1.382052,3.707916,3.544978,63.566965,111.606969,0.968080
26804,flat,flat,2024-01-03 21:30:00,99fp2z9TANArLJR4hcwx8fJSzjz7GQwUn7huGf32nDdv,0.000037,0.000042,flat,2,21,1.248536,...,67.381968,0.121401,0.102121,1.255153,1.246121,3.711244,3.520122,63.165621,110.886213,1.129669
26914,flat,flat,2024-01-03 21:50:00,99fp2z9TANArLJR4hcwx8fJSzjz7GQwUn7huGf32nDdv,0.000047,0.000042,flat,2,21,0.973278,...,66.101457,0.157165,0.143465,1.290918,1.311373,3.747009,3.557458,62.526303,109.672463,0.902549
26976,flat,flat,2024-01-03 22:00:00,99fp2z9TANArLJR4hcwx8fJSzjz7GQwUn7huGf32nDdv,0.000046,0.000042,flat,2,22,0.975319,...,66.101457,0.578594,0.911004,1.712347,2.070908,4.168437,4.344125,63.484637,110.383990,0.909573
27510,flat,flat,2024-01-03 23:40:00,99fp2z9TANArLJR4hcwx8fJSzjz7GQwUn7huGf32nDdv,0.000047,0.000053,flat,2,23,0.965762,...,67.015584,0.503379,0.289151,1.748061,1.747806,4.211295,4.602389,61.683999,106.468573,1.131750

In [117]:
results_df

,Actual,Predicted,time_quant,mint,price,future_price,label,day_of_week,hour,u_price_sma_10m,...,ema_vol_sell_1d,sma_vol_sum_10m,ema_vol_sum_10m,sma_vol_sum_1h,ema_vol_sum_1h,sma_vol_sum_4h,ema_vol_sum_4h,sma_vol_sum_1d,ema_vol_sum_1d,upside
0,flat,flat,2023-12-30 08:30:00,12FvihLoAzTtaA98YVuErGftCXtoc83t3YFk4WdKK79T,9.930370e-07,4.359319e-07,flat,5,8,0.747452,...,19.374471,0.242418,0.234116,1.145117,1.328542,3.890211,3.748550,24.440557,29.679349,0.438989
1,flat,flat,2023-12-30 08:30:00,2XNuNgqFpNxEWq8wcqRpJFeWBVsLgxa56fMDQVfq7i7Y,2.826238e-04,2.169545e-04,flat,5,8,1.087920,...,19.966602,0.652804,0.681182,12.042169,10.282466,20.429140,25.838622,132.789408,36.391252,0.767644
2,flat,flat,2023-12-30 08:30:00,2x8o3hA5S5fBxCSE9hzVTf3RohcMWHqkDNKNEPuzprD5,2.976297e-05,2.607552e-05,flat,5,8,1.026468,...,101.836320,0.521736,0.538792,8.972038,6.993093,36.080560,37.152979,212.977115,178.242873,0.876106
3,flat,flat,2023-12-30 08:30:00,2zwuFv4tzMrJMA3Gq5nNH3i4ojWPtCkjmGzTMXe4RpMc,1.944247e-05,1.500439e-05,flat,5,8,1.069679,...,232.486088,0.651856,0.579489,9.376199,8.926900,70.665628,76.172024,361.950123,448.937875,0.771733
4,flat,flat,2023-12-30 08:30:00,31iQsahfa4CMiirU7REygBzuAWg4R4ah7Y4aDu9ZfXJP,1.039810e-10,5.917822e-11,flat,5,8,0.808583,...,186.058000,1.543446,1.977391,17.563163,20.297679,65.775765,61.970659,426.796282,345.141176,0.569125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27727,flat,flat,2024-01-04 00:20:00,KTMEEZDPyYiJmDeiy8ChLcWHP52jhzMG9g6FQrYDTf8,7.980008e-11,3.277159e-11,flat,3,0,1.149582,...,27.644720,2.919935,4.487728,3.786115,6.206388,5.761930,8.733140,85.505423,44.384374,0.410671
27728,flat,flat,2024-01-04 00:20:00,LFG1ezantSY2LPX8jRz2qa31pPEhpwN9msFDzZw4T9Q,2.730993e-07,2.105918e-07,flat,3,0,0.942776,...,556.648984,1.150401,1.745633,46.976387,54.598590,555.989226,358.029839,1297.308194,928.001224,0.771118
27729,flat,flat,2024-01-04 00:20:00,drakduQWnTS89CdTUdgHmZzEkN6reBLYqrk8rzVhU53,5.363368e-08,5.334881e-08,flat,3,0,1.019868,...,162.160206,0.670125,0.947271,12.693423,10.512182,95.411569,86.925002,500.631668,319.042967,0.994689
27730,flat,flat,2024-01-04 00:20:00,gxNuJSHRScR7WkzQEYqvxVditaKkcc9V32KXPJLCbcT,6.396623e-05,5.061710e-05,flat,3,0,0.732243,...,162.375073,0.532225,0.435274,9.465668,6.493125,71.455419,75.697797,556.782302,309.413279,0.791310
27731,flat,flat,2024-01-04 00:20:00,skJyor4eEoBsDpxyURP367RjGEK5xbqrjWjjyjQGo2N,8.941823e-07,1.985846e-06,flat,3,0,1.664710,...,3.522837,0.099650,0.137254,0.268418,0.385697,4.524898,3.237085,10.558095,7.440468,2.220852