In [131]:
import os
import psycopg2
import pandas as pd
from dotenv import load_dotenv

load_dotenv()

conn = psycopg2.connect(os.getenv('DATABASE_URL'))

# Open a cursor to perform database operations
cur = conn.cursor()

# Execute a query
cur.execute("""
SELECT *, date_trunc('hour', timestamp) as hour FROM trades
where sol_volume > 0.1
order by timestamp desc
--limit 50000
""")

# Retrieve query results
records = cur.fetchall()

# Convert to pandas DataFrame
df = pd.DataFrame(records, columns=[desc[0] for desc in cur.description])

# Close communication with the database
cur.close()
conn.close()

df

,signature,mint,timestamp,trades,token_volume,usd_volume,sol_volume,sells,token_spent,usd_got,sol_got,purchases,token_got,usd_spent,sol_spent,hour
0,4fr7yLwgw3e64o6L61fzXdM3AAoTcEPRmYxyGnkM5qifQj...,8Uw7NNrhxotkgbtCCJ73iB36rfkyPjir8i9o3LnE1Z94,2023-12-30 23:10:29,1,6.575187e+07,0.0,0.583539,1,6.575187e+07,0.0,0.583539,0,0.000000e+00,0.0,0.000000,2023-12-30 23:00:00
1,2o7SCuQ1jLfXgdfeXtEFMCcevLtrCV8LFmr8eDUc7Ba9Hd...,9pPE1q9EW1bMQWbHmffrzUCfRr7S82UoxNUFfA6mAZC6,2023-12-30 23:09:28,1,1.304326e+05,0.0,0.224610,1,1.304326e+05,0.0,0.224610,0,0.000000e+00,0.0,0.000000,2023-12-30 23:00:00
2,3qbiVFNRMkazBjuYpWBH2bsrfeC11pRqBgDPjziPXJW3Lt...,8rgSvnQKQA9LrWBZhvUoSHUPxurf94bpyEgshaQHXRbL,2023-12-30 23:07:04,1,4.486367e+04,0.0,0.149351,1,4.486367e+04,0.0,0.149351,0,0.000000e+00,0.0,0.000000,2023-12-30 23:00:00
3,3Z8tKz3rt6ArmcaCPe6hkRChfocau36BxdxsTPU6t8fKCS...,2fEE4jwfvpyBaysHTEABFAbzSPzYui2cBCqdRDPFLMRW,2023-12-30 23:06:58,1,2.520646e+04,0.0,2.047057,0,0.000000e+00,0.0,0.000000,1,2.520646e+04,0.0,2.047057,2023-12-30 23:00:00
4,2BmSc3VnntFo9WTcBC6JJ2zntYe9HykkMzTm3Xzxhqz2ME...,5z3EqYQo9HiCEs3R84RCDMu2n7anpDMxRhdK8PSWmrRC,2023-12-30 23:06:25,1,4.431296e+04,0.0,4.946584,1,4.431296e+04,0.0,4.946584,0,0.000000e+00,0.0,0.000000,2023-12-30 23:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74187,3KcRvE4ooLjpaDpBT3tEarC4auLkzrueXJrB9vtje9K5fv...,5SD4mnz5kNhnAmVQKKX911XBY6RJcqCD4pkH699bP5U3,2023-11-01 00:50:44,1,4.375231e+07,0.0,3.222574,1,4.375231e+07,0.0,3.222574,0,0.000000e+00,0.0,0.000000,2023-11-01 00:00:00
74188,29H5ofPh9zapDxY6CHDBaFuCbZGeGEKeXiA71yR8U6JqqB...,DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263,2023-11-01 00:35:44,1,1.481887e+07,0.0,0.300505,0,0.000000e+00,0.0,0.000000,1,1.481887e+07,0.0,0.300505,2023-11-01 00:00:00
74189,kryUxDz1v5fvTUN9cbGkNgCaC2pF7eshMYjJRYV4z9Umu1...,D7rcV8SPxbv94s3kJETkrfMrWqHFs6qrmtbiu6saaany,2023-11-01 00:34:37,1,2.500000e+06,0.0,3.241975,1,2.500000e+06,0.0,3.241975,0,0.000000e+00,0.0,0.000000,2023-11-01 00:00:00
74190,3C8FgmV6JDEzGUZmyqjj4Jpt3D745kGqb2wuaA9domva4u...,AZsHEMXd36Bj1EMNXhowJajpUXzrKcK57wW4ZGXVa7yR,2023-11-01 00:22:27,1,4.210912e+09,0.0,4.446126,1,4.210912e+09,0.0,4.446126,0,0.000000e+00,0.0,0.000000,2023-11-01 00:00:00
74191,5bG3mg5yknaKN1pTCKwaZoX9KZvG33QSHMASmsSe9NK6Ji...,3J5QaP1zJN9yXE7jr5XJa3Lq2TyGHSHu2wssK7N1Aw4p,2023-11-01 00:14:03,1,1.930000e+08,0.0,2.617965,1,1.930000e+08,0.0,2.617965,0,0.000000e+00,0.0,0.000000,2023-11-01 00:00:00

In [132]:
# all uniq pairs of mint and hour in separate columns in keys dataframe
keys = df[['mint', 'hour']].drop_duplicates()
keys

                                               mint                hour
0      8Uw7NNrhxotkgbtCCJ73iB36rfkyPjir8i9o3LnE1Z94 2023-12-30 23:00:00
1      9pPE1q9EW1bMQWbHmffrzUCfRr7S82UoxNUFfA6mAZC6 2023-12-30 23:00:00
2      8rgSvnQKQA9LrWBZhvUoSHUPxurf94bpyEgshaQHXRbL 2023-12-30 23:00:00
3      2fEE4jwfvpyBaysHTEABFAbzSPzYui2cBCqdRDPFLMRW 2023-12-30 23:00:00
4      5z3EqYQo9HiCEs3R84RCDMu2n7anpDMxRhdK8PSWmrRC 2023-12-30 23:00:00
...                                             ...                 ...
74187  5SD4mnz5kNhnAmVQKKX911XBY6RJcqCD4pkH699bP5U3 2023-11-01 00:00:00
74188  DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263 2023-11-01 00:00:00
74189  D7rcV8SPxbv94s3kJETkrfMrWqHFs6qrmtbiu6saaany 2023-11-01 00:00:00
74190  AZsHEMXd36Bj1EMNXhowJajpUXzrKcK57wW4ZGXVa7yR 2023-11-01 00:00:00
74191  3J5QaP1zJN9yXE7jr5XJa3Lq2TyGHSHu2wssK7N1Aw4p 2023-11-01 00:00:00

[39134 rows x 2 columns]

In [133]:
# print min and max dates
print(f"min date: {df['timestamp'].min()}, max date: {df['timestamp'].max()}")

min date: 2023-11-01 00:14:03, max date: 2023-12-30 23:10:29

In [134]:
pre_prices = df[['mint', 'hour', 'trades', 'token_volume', 'sol_volume']]

# dataframe prices show price of each mint at each hour
# it's calculated as sum of token_volume divided by sum of sol_volume for each mint at each hour
prices = pre_prices.groupby(['mint', 'hour']).sum().reset_index()
prices['price'] = prices['sol_volume'] / prices['token_volume']
prices

,mint,hour,trades,token_volume,sol_volume,price
0,12AjTG16m3oWzjVy2kP2C1bUEzZv8PayQDM9csRR1obM,2023-12-16 10:00:00,1,1.295834e+11,0.599024,4.622694e-12
1,12AjTG16m3oWzjVy2kP2C1bUEzZv8PayQDM9csRR1obM,2023-12-16 12:00:00,1,1.663637e+11,0.500006,3.005502e-12
2,12AjTG16m3oWzjVy2kP2C1bUEzZv8PayQDM9csRR1obM,2023-12-16 14:00:00,1,1.344338e+11,0.549258,4.085712e-12
3,12AjTG16m3oWzjVy2kP2C1bUEzZv8PayQDM9csRR1obM,2023-12-20 04:00:00,2,1.746382e+12,2.140559,1.225711e-12
4,12AjTG16m3oWzjVy2kP2C1bUEzZv8PayQDM9csRR1obM,2023-12-20 05:00:00,1,3.011002e+11,0.210124,6.978527e-13
...,...,...,...,...,...,...
39129,zebeczgi5fSEtbpfQKVZKCJ3WgYXxjkMUkNNx7fLKAF,2023-12-27 12:00:00,1,1.623808e+03,0.130625,8.044334e-05
39130,zebeczgi5fSEtbpfQKVZKCJ3WgYXxjkMUkNNx7fLKAF,2023-12-29 12:00:00,1,3.000000e+04,2.378402,7.928006e-05
39131,zf8ThQDYNWJXeQjuNK4bLpRsub8ydYEKXcGQ9wSZ6Fy,2023-12-15 23:00:00,1,1.738238e+07,0.242221,1.393488e-08
39132,zxTtD4MMnEAgHMvXmfgPCyMY61ivxX5zwu12hTSqLoA,2023-12-18 19:00:00,1,1.935591e+06,0.176098,9.097903e-08
39133,zxTtD4MMnEAgHMvXmfgPCyMY61ivxX5zwu12hTSqLoA,2023-12-19 00:00:00,1,1.732433e+06,0.136599,7.884799e-08

In [135]:
from datetime import timedelta

prediction_types = [
    {'suffix': '_2h', 'delta': timedelta(hours=2)},
    {'suffix': '_24h', 'delta': timedelta(hours=24)},
    {'suffix': '_7d', 'delta': timedelta(days=7)},
]

for prediction in prediction_types:
    # list of -1s with length of prices
    prices['price' + prediction['suffix']] = [-1.] * len(prices)

prices_map = {}
for index, row in prices.iterrows():
    mint = row['mint']
    hour = row['hour']
    prices_map[(mint, hour)] = row['price']

max_hour = prices['hour'].max()
# iterate over mint and hour pairs
for index, row in prices.iterrows():
    # get mint and hour from row
    mint = row['mint']
    hour = row['hour']
    for p in prediction_types:
        prediction_hour = hour + p['delta']
        # if there's no data for prediction_hour, skip
        if prediction_hour > max_hour:
            continue
        while prediction_hour >= hour:
            future_price = prices_map.get((mint, prediction_hour), -1)
            if future_price != -1:
                prices.loc[index, 'price' + p['suffix']] = future_price
                break
            prediction_hour -= timedelta(hours=1)

In [136]:
prices

,mint,hour,trades,token_volume,sol_volume,price,price_2h,price_24h,price_7d
0,12AjTG16m3oWzjVy2kP2C1bUEzZv8PayQDM9csRR1obM,2023-12-16 10:00:00,1,1.295834e+11,0.599024,4.622694e-12,3.005502e-12,4.085712e-12,4.571769e-12
1,12AjTG16m3oWzjVy2kP2C1bUEzZv8PayQDM9csRR1obM,2023-12-16 12:00:00,1,1.663637e+11,0.500006,3.005502e-12,4.085712e-12,4.085712e-12,3.556662e-12
2,12AjTG16m3oWzjVy2kP2C1bUEzZv8PayQDM9csRR1obM,2023-12-16 14:00:00,1,1.344338e+11,0.549258,4.085712e-12,4.085712e-12,4.085712e-12,3.556662e-12
3,12AjTG16m3oWzjVy2kP2C1bUEzZv8PayQDM9csRR1obM,2023-12-20 04:00:00,2,1.746382e+12,2.140559,1.225711e-12,4.953954e-12,2.555918e-12,5.370183e-12
4,12AjTG16m3oWzjVy2kP2C1bUEzZv8PayQDM9csRR1obM,2023-12-20 05:00:00,1,3.011002e+11,0.210124,6.978527e-13,3.400636e-12,2.555918e-12,5.370183e-12
...,...,...,...,...,...,...,...,...,...
39129,zebeczgi5fSEtbpfQKVZKCJ3WgYXxjkMUkNNx7fLKAF,2023-12-27 12:00:00,1,1.623808e+03,0.130625,8.044334e-05,8.044334e-05,8.044334e-05,-1.000000e+00
39130,zebeczgi5fSEtbpfQKVZKCJ3WgYXxjkMUkNNx7fLKAF,2023-12-29 12:00:00,1,3.000000e+04,2.378402,7.928006e-05,7.928006e-05,7.928006e-05,-1.000000e+00
39131,zf8ThQDYNWJXeQjuNK4bLpRsub8ydYEKXcGQ9wSZ6Fy,2023-12-15 23:00:00,1,1.738238e+07,0.242221,1.393488e-08,1.393488e-08,1.393488e-08,1.393488e-08
39132,zxTtD4MMnEAgHMvXmfgPCyMY61ivxX5zwu12hTSqLoA,2023-12-18 19:00:00,1,1.935591e+06,0.176098,9.097903e-08,9.097903e-08,7.884799e-08,7.884799e-08
39133,zxTtD4MMnEAgHMvXmfgPCyMY61ivxX5zwu12hTSqLoA,2023-12-19 00:00:00,1,1.732433e+06,0.136599,7.884799e-08,7.884799e-08,7.884799e-08,7.884799e-08

In [166]:
PRICE_THRESHOLD = 2

for p in prediction_types:
    prices['class' + p['suffix']] = ['na'] * len(prices)
    
for index, row in prices.iterrows():
    for p in prediction_types:
        price = row['price']
        future_price = row['price' + p['suffix']]
        if future_price == -1:
            continue
        if future_price > PRICE_THRESHOLD * price:
            prices.loc[index, 'class' + p['suffix']] = 'up'
        elif future_price < price / PRICE_THRESHOLD:
            prices.loc[index, 'class' + p['suffix']] = 'down'
        else:
            prices.loc[index, 'class' + p['suffix']] = 'flat'

#sort prices by hour then mint
prices = prices.sort_values(by=['hour', 'mint'])

prices

,mint,hour,trades,token_volume,sol_volume,price,price_2h,price_24h,price_7d,class_2h,class_24h,class_7d
2108,3J5QaP1zJN9yXE7jr5XJa3Lq2TyGHSHu2wssK7N1Aw4p,2023-11-01 00:00:00,1,1.930000e+08,2.617965,1.356458e-08,1.356458e-08,9.007497e-09,4.647018e-09,flat,flat,down
5230,5SD4mnz5kNhnAmVQKKX911XBY6RJcqCD4pkH699bP5U3,2023-11-01 00:00:00,1,4.375231e+07,3.222574,7.365495e-08,9.118888e-08,1.789658e-08,1.789658e-08,flat,down,down
10283,7kbnvuGBxxj8AG9qp8Scn56muWGaRaFqxg1FsRp3PaFT,2023-11-01 00:00:00,1,3.859803e+03,100.000006,2.590806e-02,2.590806e-02,2.362193e-02,2.423463e-02,flat,flat,flat
12527,94XduSfSnyas7jAEFSJSXiCi1xQ4mENWcii1aCvjVuqu,2023-11-01 00:00:00,1,1.000000e+05,0.166931,1.669306e-06,3.096264e-06,3.877707e-06,4.437695e-06,flat,up,up
13313,9WMwGcY6TcbSfy9XPpQymY3qNEsvEaYL3wivdwPG2fpp,2023-11-01 00:00:00,1,3.500819e+02,1.000006,2.856491e-03,2.856491e-03,2.856491e-03,2.188399e-03,flat,flat,flat
...,...,...,...,...,...,...,...,...,...,...,...,...
11744,8Uw7NNrhxotkgbtCCJ73iB36rfkyPjir8i9o3LnE1Z94,2023-12-30 23:00:00,1,6.575187e+07,0.583539,8.874863e-09,-1.000000e+00,-1.000000e+00,-1.000000e+00,na,na,na
12079,8rgSvnQKQA9LrWBZhvUoSHUPxurf94bpyEgshaQHXRbL,2023-12-30 23:00:00,1,4.486367e+04,0.149351,3.328993e-06,-1.000000e+00,-1.000000e+00,-1.000000e+00,na,na,na
12267,8yJ15ee2AUQmwbWPxXLTTeBTzyMGn4MtSRKMqVHw1J1G,2023-12-30 23:00:00,1,1.296452e+05,0.593388,4.577013e-06,-1.000000e+00,-1.000000e+00,-1.000000e+00,na,na,na
13853,9pPE1q9EW1bMQWbHmffrzUCfRr7S82UoxNUFfA6mAZC6,2023-12-30 23:00:00,1,1.304326e+05,0.224610,1.722043e-06,-1.000000e+00,-1.000000e+00,-1.000000e+00,na,na,na
31743,J34usKXUTz4aCanKftng4H3Szo2xg2hDbPFs5nsQ7adq,2023-12-30 23:00:00,1,2.009571e+05,0.326904,1.626733e-06,-1.000000e+00,-1.000000e+00,-1.000000e+00,na,na,na

In [169]:
td_names = ['class' + p['suffix'] for p in prediction_types]
classes = pd.concat([prices[name].value_counts() for name in td_names], axis=1)
classes.columns = td_names
classes

      class_2h  class_24h  class_7d
flat     37542      30412     17260
down       800       5132      8990
up         722       2249      3162
na          70       1341      9722

In [170]:
from sklearn.model_selection import TimeSeriesSplit

prediction_type = prediction_types[1]
print(f"Prediction type: {prediction_type['suffix']}")

pool_df = prices.copy()
pool_df = pool_df[['mint', 'hour', 'trades', 'token_volume', 'sol_volume', 'price', 'class' + prediction_type['suffix']]]

len_before = len(pool_df)
# remove from pool rows with class 'na'
pool_df = pool_df[pool_df['class' + prediction_type['suffix']] != 'na']
len_after = len(pool_df)
print(f'Removed {len_before - len_after} of {len_before} rows with class "na"')

Prediction type: _24h
Removed 1341 of 39134 rows with class "na"

In [171]:
import pandas as pd
from catboost import CatBoostClassifier, Pool
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

# Convert 'mint' to a categorical feature
pool_df['mint'] = pool_df['mint'].astype('category')

# Define features and target
features = ['mint', 'hour', 'trades', 'token_volume', 'sol_volume', 'price']
target = 'class' + prediction_type['suffix']

# Initialize CatBoost Classifier
model = CatBoostClassifier(loss_function='MultiClass', verbose=False)

# TimeSeriesSplit for cross-validation
tscv = TimeSeriesSplit(n_splits=3)

# To store predictions and actuals
predictions, actuals = [], []
details_df = pd.DataFrame() 

for train_index, test_index in tscv.split(pool_df):
    train_data, test_data = pool_df.iloc[train_index], pool_df.iloc[test_index]

    max_train_hour = train_data['hour'].max()
    len_before = len(test_data)
    # change those lines together please
    removed_data = test_data[test_data['hour'] <= max_train_hour + prediction_type['delta']]
    test_data = test_data[test_data['hour'] > max_train_hour + prediction_type['delta']]
    len_after = len(test_data)
    print(f'Removed {len_before - len_after} of {len_before} rows from test data')
    print(f'since {min(removed_data["hour"])} to {max(removed_data["hour"])}')

    # Create Pool
    train_pool = Pool(data=train_data[features], label=train_data[target], cat_features=['mint'])
    test_pool = Pool(data=test_data[features], label=test_data[target], cat_features=['mint'])

    # Train model
    model.fit(train_pool)

    # Predict
    preds = model.predict(test_pool)
    predictions.extend(preds.flatten())
    actuals.extend(test_data[target].values)
    if len(details_df) == 0:
        details_df = test_data
    else:
        details_df = pd.concat([details_df, test_data])
    

# Confusion Matrix
conf_matrix = confusion_matrix(actuals, predictions, labels=['up', 'flat', 'down'])
conf_matrix_df = pd.DataFrame(conf_matrix, index=['up', 'flat', 'down'], columns=['up', 'flat', 'down'])

# Last iteration's predictions and actuals
comparison_df = pd.DataFrame({'Actual': actuals, 'Predicted': predictions})
# comparison_df = comparison_df.reset_index(drop=True)

# add details to results_df
results_df = pd.concat([comparison_df.reset_index(drop=True), details_df.reset_index(drop=True)], axis=1)
print(f"pred len {len(predictions)}, actuals len {len(actuals)}, "
      f"comparison_df len {len(comparison_df)}, details len {len(details_df)}, results_df len {len(results_df)}")


# Output
print("Confusion Matrix:\n", conf_matrix_df)

Removed 473 of 9448 rows from test data
since 2023-12-03 02:00:00 to 2023-12-04 02:00:00
Removed 1004 of 9448 rows from test data
since 2023-12-17 00:00:00 to 2023-12-18 00:00:00
Removed 1597 of 9448 rows from test data
since 2023-12-23 08:00:00 to 2023-12-24 08:00:00
pred len 25270, actuals len 25270, comparison_df len 25270, details len 25270, results_df len 25270
Confusion Matrix:
        up   flat  down
up     33   1441   178
flat  251  18876  1035
down   30   2807   619

In [163]:
results_df

,Actual,Predicted,mint,hour,trades,token_volume,sol_volume,price,class_24h
0,down,flat,296sdxzqFZb4YPnQpQYsDzBwTU3i1cT59rbaWdsvA5A5,2023-12-04 03:00:00,1,1.260813e+02,1.639232,1.300139e-02,down
1,flat,flat,3NZ9JMVBmGAqocybic2c7LQCJScmgsAZ6vQqTDzcqmJh,2023-12-04 03:00:00,1,3.911030e-03,2.482911,6.348484e+02,flat
2,flat,flat,4k3Dyjzvzp8eMZWUXbBCjEvwSkkk59S5iCNLY3QrkX6R,2023-12-04 03:00:00,1,1.401933e+01,0.100005,7.133385e-03,flat
3,flat,flat,65nTNuJGHme4PQvKQyJykKp1bJAkK4A8Q66sd2yBWugf,2023-12-04 03:00:00,1,1.387802e+07,1.000006,7.205677e-08,flat
4,flat,flat,6DSqVXg9WLTWgz6LACqxN757QdHe1sCqkUfojWmxWtok,2023-12-04 03:00:00,1,4.817849e+07,0.300005,6.226949e-09,flat
...,...,...,...,...,...,...,...,...,...
25265,flat,flat,H7ed7UgcLp3ax4X1CQ5WuWDn6d1pprfMMYiv5ejwLWWU,2023-12-29 23:00:00,1,7.796774e+05,0.265005,3.398909e-07,flat
25266,flat,flat,HF4b3Ttibi67z7McyugUgiQUc2Z3XRECTY5QFYiqbZXF,2023-12-29 23:00:00,8,1.862945e+06,11.693213,6.276737e-06,flat
25267,flat,flat,bsAwuVJMPAazbQSVpPQND69mvwftQutZhxpWqsf2BUE,2023-12-29 23:00:00,1,1.000000e+05,2.267654,2.267654e-05,flat
25268,flat,flat,iotEVVZLEywoTn1QdwNPddxPWszn3zFhEot3MfL9fns,2023-12-29 23:00:00,1,4.217470e+04,0.760408,1.802995e-05,flat
25269,flat,flat,rockaPXZqTqtt9LvznNopikNQn3YSTMwTC4swr7HAiy,2023-12-29 23:00:00,1,1.126568e+12,2.651269,2.353404e-12,flat

In [164]:
results_df['Actual'].value_counts()

Actual
flat    24016
down      892
up        362
Name: count, dtype: int64

In [165]:
results_df['Predicted'].value_counts()

Predicted
flat    24975
down      265
up         30
Name: count, dtype: int64